@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.state {
  position: absolute;
  font-family: 'NotoSerifKR';
  text-align: center;
  font-size: 24pt;
  user-select: none;
  animation: fade-in 2s;
  top: 20px;
  width: 100%;
  pointer-events: none;
}

.button-power:active .state {
  animation: fade-out 2s;
}

.title {
  font-family: 'NotoSerifKR';
  text-align: center;
  user-select: none;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 42px;
}

.button-power {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #d3d3d3;
  width: 78px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 80px;
  margin-left: 10px;
  user-select: none;
}

.text-power-on {
  font-weight: bold;
  font-size: 20px;
  color: #06a94d;
  margin-bottom: 2px;
  margin-left: 10px;
}

.text-power-off {
  font-weight: bold;
  font-size: 20px;
  color: #f00e0e;
  margin-bottom: 2px;
  margin-left: 10px;
}

.circle-power-on {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #06a94d;
  margin-right: 10px;
}

.circle-power-off {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #f00e0e;
  margin-right: 10px;
}

.button-power-off {
  font-weight: bold;
  color: #f00e0e;
}

.button-back {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url('/public/icons/back.svg');
  margin-left: 10px;
}

.scent-list {
  display: grid;
  justify-items: center;
  align-items: start;
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .scent-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .scent-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.scent-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-family: 'NotoSerifKR';
  margin: 10px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.scent-card .circle {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.scent-card:hover .circle {
  opacity: 0.6;
  transform: scale( 40.0 );
  transition: all 0.4s ease-out;
}

.scent-card:hover .scent-name {
  color: #000000;
  transition: all 0.6s ease-out;
}

.scent-card:active .scent-name {
  color: #ffffff;
  transition: all 0s ease-out;
}

.scent-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scent-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.scent-name {
  position: absolute;
  font-size: 16pt;
  font-weight: bold;
  color: #ffffff;
  user-select: none;
}

.scent-description {
  font-size: 10pt;
  user-select: none;
}

.menu-list {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
}

.menu-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-family: 'NotoSerifKR';
  margin: 10px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.menu-card .circle {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 0;
  background-color: #ffffff;
  overflow: hidden;
}

.menu-card:hover .circle {
  opacity: 0.6;
  transform: scale( 40.0 );
  transition: all 0.4s ease-out;
}

.menu-card:hover .menu-title {
  color: #000000;
  transition: all 0.6s ease-out;
}

.menu-card:active .menu-title {
  color: #ffffff;
  transition: all 0s ease-out;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.menu-title {
  position: absolute;
  font-size: 16pt;
  font-weight: bold;
  color: #ffffff;
  user-select: none;
}

.menu-description {
  font-size: 10pt;
  user-select: none;
}
